.stateContainer{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.selectStyle{
  fontSize: 16px;
    padding: 10px;
    margin: 5px;
    minWidth: 200px;
}
.selectStyle1{
  fontSize: 16px;
    padding: 10px;
    margin: 5px;
    width: 200px;
}
.selectStyle2{
  fontSize: 16px;
    padding: 10px;
    margin: 5px;
    Width: 200px;
}
h1{
  text-align: center;
}
.Dispaly-result{
  margin-top: 20px;
  font-size: 18px;
  text-align: center;
}

span{
  font-weight: bold;
  font-size: 24px;
}

.fade{
  color: #888;
}